html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-primary {
  background: #0096ff;
}

.bg-success {
  background: #8bdb81;
}

.bg-orange {
  background: #ffad60;
}

.bg-error {
  background: #ff4949;
}

.btn {
  outline: none;
  border: none;
  max-width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.7;
}
.btn.btn-success {
  background: #3ec70b;
  color: #fff;
}
.btn.btn-error {
  background: #ff4949;
  color: #fff;
}
.btn.btn-primary {
  background: #0096ff;
  color: #fff;
}
.btn.btn-secondary {
  background: #d2daff;
  color: #1a132f;
}
.btn.btn-size-small {
  padding: 5px;
}

.table-custom {
  width: 100%;
  border-collapse: collapse;
}
.table-custom th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.table-custom td, .table-custom th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table-custom tr:nth-child(even) {
  background: #f2f2f2;
}
.table-custom tr {
  transition: all 0.25s ease-in-out 0s;
}
.table-custom tr:hover {
  background-color: #ddd;
}

.mt-2 {
  margin-top: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 1rem;
}

.header-wp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.header-wp__logo > h1 {
  color: #000;
}
.header-wp__nav-menu {
  margin-bottom: 0;
  display: flex;
  list-style: none;
}
.header-wp__link--active {
  color: #000 !important;
}
.header-wp__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wp__item > a {
  position: relative;
  padding: 0.5rem 1rem;
  color: rgb(245, 223, 62);
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
.header-wp__item > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: rgb(245, 223, 62);
  transition: all 0.3s ease 0s;
}
.header-wp__item > a:hover::after {
  width: 100%;
}
.header-wp__icon--menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  display: none;
}
.header-wp__cart {
  position: relative;
}
.header-wp__num-cart {
  position: absolute;
  top: 0;
  color: #000;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0 0.375rem;
  border-radius: 50%;
  background: #ccc;
  line-height: 1.125rem;
}
.header-wp__cart-response {
  position: absolute;
  right: 0;
  top: 4px;
  margin: 0 6.375rem;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.header-wp__cart-response > a {
  position: relative;
  color: #000;
  transition: all 0.3s ease 0s;
}
.header-wp__cart-response > a:hover {
  color: #ce3d3d;
}
.header-wp__cart-response > a:hover .header-wp__num-cart-response {
  color: #fff;
}
.header-wp__num-cart-response {
  position: absolute;
  top: -4px;
  right: -15px;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background: #ccc;
  padding: 0 0.3rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  line-height: 1.125rem;
}
.header-wp-fixed {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
  background: #fff;
  padding: 0.5rem;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 42.0625em) {
  .header-wp-fixed {
    padding: 0;
  }
  .header-wp__nav-menu {
    display: none;
  }
  .header-wp__icon--menu {
    display: block;
  }
  .header-wp__cart-response {
    display: block;
  }
}
@media screen and (max-width: 18.75em) {
  .header-wp__cart-response {
    display: none;
  }
}

.footer {
  margin-top: 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  z-index: -1;
  width: 100%;
  bottom: 0;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 223, 62);
  margin-bottom: 0;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-response {
  transition: all 0.5s ease-in-out 0s;
}
.menu-response__active {
  color: #000 !important;
}
.menu-response__nav-menu {
  position: fixed;
  top: 57px;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  z-index: 3;
  transition: all 0.5s ease-in-out 0s;
  display: none;
}
.menu-response__item > a {
  position: relative;
  display: inline-block;
  padding: 1rem;
  color: #ffc107;
  margin-bottom: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.menu-response__item > a::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #ffc107;
  display: block;
}
.menu-response__item > a:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}
@media screen and (max-width: 42.0625em) {
  .menu-response__nav-menu {
    display: block;
  }
}

.products-item {
  transition: all 0.3s ease-in-out 0s;
}
.products__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__img {
  height: 13.75rem;
  margin-top: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.products__name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out 0s;
}
.products__price {
  font-weight: bold;
  transition: all 0.3s ease-in-out 0s;
}
.products__unit {
  font-size: 0.875rem;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out 0s;
}
.products__add-to-cart {
  outline: none;
  background: transparent;
  border: 0;
}
.products__add-to-cart:focus {
  outline: none;
  background: transparent;
  border: 0;
}
.products__add-to-cart > i {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out 0s;
}
.products__response-row {
  margin-right: -2px !important;
  margin-left: -9px !important;
}
.products__response {
  padding-right: 2px !important;
  padding-left: 9px !important;
}
.products-item:hover {
  transform: translateY(-3px);
  border-color: #ffc107 !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.products-item:hover .products__add-to-cart > i, .products-item:hover .products__price, .products-item:hover .products__unit, .products-item:hover .products__name {
  color: #ffc107;
}
@media screen and (max-width: 41.6875em) {
  .products__img {
    margin-top: 0;
  }
  .products__name {
    text-align: center;
  }
  .products-body {
    padding: 1rem;
  }
  .products__name, .products__price {
    font-size: 14px;
  }
  .products__info {
    flex-direction: column;
  }
  .products__add-to-cart > i {
    margin-right: 0;
  }
}
@media screen and (max-width: 21.5em) {
  .products-body {
    padding: 1rem;
  }
  .products__response {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .products__img {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 18.75em) {
  .products__response {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.img-user {
  width: 50px;
}

.cut-name {
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-left: 10px;
}/*# sourceMappingURL=index.css.map */