$background-header: #0096ff;
$background-header-dark: #1e7dc0;
$font-family: Arial, Helvetica, sans-serif;

$color-white: #fff;
$color-red: #ff4949;
$color-black: #1a132f;
$color-gray: #d2daff;
$color-success: #8bdb81;
$color-success-dark: #3ec70b;
$color-orange: #ffad60;

$transition-025s: all 0.25s ease-in-out 0s;
$transition-03s: all 0.3s ease-in-out 0s;

$color-dark: #000;
$color-yellow: rgb(245, 223, 62);
$color-menu-response: #ffc107;
$trans-03s: all 0.3s ease-in-out 0s;
