main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  .main {
    max-width: 87%;
    flex-basis: 87%;
    width: 100%;

    &-content {
      background: $color-white;
      border-radius: 4px;
      border-top: 2px solid $background-header;
      padding: 10px;
      margin: 10px;

      &__header {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &-item {
          max-width: 25%;
          flex-basis: 25%;
          color: #fff;

          padding: 10px;
          border-radius: 4px;

          &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;

            &-right {
              &-number {
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: bold;
              }

              &-name {
                font-size: 15px;
              }
            }

            &-left {
              & > i {
                font-size: 30px;
              }
            }
          }

          &-bottom {
            display: flex;
            justify-content: center;
            align-items: center;

            border-top: 1px solid $color-white;
            padding-top: 10px;

            & > a {
              color: $color-white;
              font-size: 14px;
              transition: $transition-025s;

              &:hover {
                color: $color-black;
              }
            }
          }
        }
      }
    }
  }
}
