.products {
  &-item {
    transition: all 0.3s ease-in-out 0s;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 13.75rem;
    margin-top: 1rem;

    object-fit: contain;
    max-width: 100%;
  }

  &__name {
    display: -webkit-box;
    overflow: hidden;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;

    font-size: 1.2rem;
    transition: $trans-03s;
  }

  &__price {
    font-weight: bold;
    transition: $trans-03s;
  }

  &__unit {
    font-size: 0.875rem;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.5);
    transition: $trans-03s;
  }

  &__add-to-cart {
    outline: none;
    background: transparent;
    border: 0;

    &:focus {
      outline: none;
      background: transparent;
      border: 0;
    }
  }

  &__add-to-cart > i {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: $trans-03s;
  }

  &__response-row {
    margin-right: -2px !important;
    margin-left: -9px !important;
  }

  &__response {
    padding-right: 2px !important;
    padding-left: 9px !important;
  }

  // * hover item

  &-item:hover {
    transform: translateY(-3px);
    border-color: $color-menu-response !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &-item:hover &__add-to-cart > i,
  &-item:hover &__price,
  &-item:hover &__unit,
  &-item:hover &__name {
    color: $color-menu-response;
  }

  // * Responsive

  @media screen and (max-width: 41.6875em) {
    &__img {
      margin-top: 0;
    }

    &__name {
      text-align: center;
    }

    &-body {
      padding: 1rem;
    }

    &__name,
    &__price {
      font-size: 14px;
    }

    &__info {
      flex-direction: column;
    }

    &__add-to-cart > i {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 21.5em) {
    &-body {
      padding: 1rem;
    }

    &__response {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &__img {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 18.75em) {
    &__response {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.img-user {
  width: 50px;
}

.main-page {
  // padding-bottom: 100px;
}
